<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NameHelper</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
          <h1 class="title is-1" style="text-align: center;">
        <%= count %> név van hátra!
      </h1>
      <h1 class="title is-1" style="font-size: 1300%; text-align: center;">
        <%= name %>  
      </h1>
      
      <style>

.wrapper{
  width: 180px;
  height: 80px;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0,0,0,.2);
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.radio_group{
  width: 50px;
  height: 50px;
  margin: 5px;
  position: relative;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
}
.radio_group input[type="radio"]{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  z-index: 1;
  cursor: pointer;
}
.radio_group input[type="radio"] + label{
  color: #95a5a6;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(.8);
}
.radio_group input[type="radio"]:checked + label{
  transform: scale(1.1);
}

.radio_group_like input[type="radio"]:checked + label{
  color: #28bd59;
}
.radio_group_dislike input[type="radio"]:checked + label{
  color: #eb4034;
}
 
/* footer  */
</style>

<form style="text-align:center" action="/name" method="post" >

<h1 class="title is-1" style="display:inline; margin-right:10px; line-height:2em;">
  Nő
</h1>
<div class="wrapper">
    <div class="radio_group radio_group_like">
      <input type="radio" name="female" value="like">
      <label for="female">
        <i class="las la-thumbs-up"></i>
      </label>
    </div>
    <div class="radio_group radio_group_dislike">
      <input type="radio" name="female" value="dislike">
      <label for="female">
        <i class="las la-thumbs-down"></i>
      </label>
    </div>
</div>

<h1 class="title is-1" style="display:inline;  margin-left: 20px; margin-right:10px;">
  Férfi
</h1>  
<div class="wrapper">
    <div class="radio_group radio_group_like">
      <input type="radio" name="male" value="like">
      <label for="male">
        <i class="las la-thumbs-up"></i>
      </label>
    </div>
    <div class="radio_group radio_group_dislike">
      <input type="radio" name="male" value="dislike">
      <label for="male">
        <i class="las la-thumbs-down"></i>
      </label>
    </div>
</div>
<br><br>
<input type="hidden" name="name" value="<%=name %>">
<input type="submit" class="button is-success">


</form>

<form style="text-align:center" action="/nem" method="post" >

<br><br>
<input type="hidden" name="name" value="<%=name %>">
<input type="submit" class="button is-danger">


</form>



      
      
      
      
      
      
    </div>
  </section>
  </body>
</html>
